*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


input, select{
    border: 0.01px solid black;
}


h1{
    font-size: 35px;
    text-decoration: underline;
    margin: 10px auto;
    
}


.formbox{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: whitesmoke;
    width: fit-content;
    margin: 10px auto;
    margin-top: 19vh;
    padding: 20px 30px;
    height: 60vh;
    width:900px
}

label{
    margin: 15px 2px;
    font-size: 20px;
}

input{
    margin: 15px 2px;
    font-size: 15px;
    padding: 2px;
}

button{
    padding: 2px;
}
